labs/Lab2/GreetingsPrj/WebContent/wsdl/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webServices.lyit.ie" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webServices.lyit.ie" xmlns:intf="http://webServices.lyit.ie" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webServices.lyit.ie" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHelloWorld">
    <complexType/>
   </element>
   <element name="sayHelloWorldResponse">
    <complexType>
     <sequence>
      <element name="sayHelloWorldReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayGoodbyePerson">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayGoodbyePersonResponse">
    <complexType>
     <sequence>
      <element name="sayGoodbyePersonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloPerson">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloPersonResponse">
    <complexType>
     <sequence>
      <element name="sayHelloPersonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayGoodbyePersonRequest">

      <wsdl:part element="impl:sayGoodbyePerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldResponse">

      <wsdl:part element="impl:sayHelloWorldResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloPersonResponse">

      <wsdl:part element="impl:sayHelloPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldRequest">

      <wsdl:part element="impl:sayHelloWorld" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayGoodbyePersonResponse">

      <wsdl:part element="impl:sayGoodbyePersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloPersonRequest">

      <wsdl:part element="impl:sayHelloPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloWorld">

      <wsdl:operation name="sayHelloWorld">

         <wsdl:input message="impl:sayHelloWorldRequest" name="sayHelloWorldRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloWorldResponse" name="sayHelloWorldResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayGoodbyePerson">

         <wsdl:input message="impl:sayGoodbyePersonRequest" name="sayGoodbyePersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayGoodbyePersonResponse" name="sayGoodbyePersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloPerson">

         <wsdl:input message="impl:sayHelloPersonRequest" name="sayHelloPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloPersonResponse" name="sayHelloPersonResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldSoapBinding" type="impl:HelloWorld">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHelloWorld">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloWorldRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloWorldResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayGoodbyePerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayGoodbyePersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayGoodbyePersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldService">

      <wsdl:port binding="impl:HelloWorldSoapBinding" name="HelloWorld">

         <wsdlsoap:address location="http://localhost:8080/GreetingsPrj/services/HelloWorld"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
